// 当浏览器窗口宽度小于 1200px 时，文章宽度，默认 700px
$content-desktop = 800px

// 当浏览器窗口宽度大于 1200px 小于 1600px 时，文章宽度，默认 800px
$content-desktop-large = 1100px

// 当浏览器窗口宽度大于 1600px 时，文章宽度，默认 900px
$content-desktop-largest = 1300px